html {
  background-color: black;
  text-align: center;
}

.mainheading {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.subheading {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.paragraph {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
  color: gray;
}
